<app-bread-crumb
  [items]="[{text: 'Categorias'}]"
></app-bread-crumb>

<app-page-header
  page-title="Categorias"
  button-text="+ Nova Categoria"
  button-link="new"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of resources">
      <td>
        <strong>{{ c.name }}</strong><br>
        <small>{{ c.description }}</small>
      </td>
      <td>
        <a [routerLink]="[c.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(c)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>